
#contact {
  background-color:#EBE7DB;
  h1{
    padding-top: 100px;
    color: #7B3C15;
    text-align: center;
    font-size: 90px;
  }
  .contact2 {
    width: 300px;
    height: 300px;
    z-index: 6;
    position: absolute;
    top: 371px;
    left: 1146px;
  }

  .contact1 {
    width: 300px;
    height: 300px;
    z-index: 6;
    position: absolute;
    top: 80px;
    left: 0px;
  }

  .contact-image{
    width: 110px;
    height: 110px;
    position: absolute;
      top: 45px;
      left: 120px;
  }
  .btn-primary{
      background-color: #6A8B41;
      border-color: #6A8B41;
      padding: 5px 60px;
      font-size: 20px;
      margin-top: 30px;

      &:hover {
          background-color: #6A8B41;
          border-color: #6A8B41;
          opacity: .7;
      }
  }
  .btn-secondary{
    margin-bottom: 50px;
    padding: 5px 60px;
    font-size: 20px;
    margin-top: 9px;
  }
}