
main{
  min-height: 615px;
}

  footer{
    background:rgba(122,216,2,0.7);
    font-size: medium;
    .row{
      p {
        color: #fff;
      }
  
      a{
        color: #fff;
        text-decoration: none;
        display:block;
      }
    }
  }
