.histories-user-company{
  background-color: #F4FAEC;
  min-height: 615px;
  text-align: center;

  .nav-link{
    color: #6A8B41;

    &.active{
      background-color: #F4FAEC;
      font-weight: bold;
      color: #6A8B41;
    }
  }

  h1{
    color: #7B3C15;
    font-size: 40px;
    margin: 45px 0;
    border-bottom: solid 3px #E6E7E2;
  }

  h2{
    color: #6A8B41;
  }

  nav{
    background-color: #EBE7DB;
  }

  .card{
    margin: 10px 0;

    img{
      width: 90%;
      height: 85%;
    }
  }

  p{
    color: #5C5C5C;
  }
}