.index-food-company{
  background-color: #F4FAEC;
  min-height: 615px;
  text-align: center;

  a{
    text-decoration: none;
    .card{
      color: #fff;
      margin-top: 30px;
      text-align: center;
      font-size: 25px;
      background-color: #6A8B41;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-transition: all .3s;
      transition: all .3s;
    }
        .card:hover{
          -webkit-transform: translateY(-5px);
          -ms-transform: translateY(-5px);
          transform: translateY(-5px);
    }
  }

  .nav-link{
    color: #6A8B41;

    &.active{
      background-color: #F4FAEC;
      font-weight: bold;
      color: #6A8B41;
    }
  }

  h1{
    color: #7B3C15;
    font-size: 40px;
    margin: 45px 0;
    border-bottom: solid 3px #E6E7E2;
  }

  .delete{
    border: none;
    background-color: #fff;
    padding: 6px 0px;
  }

  h2{
    color: #6A8B41;
    font-weight: bold;
  }

  h3{
    font-size: 15px;
    font-weight: bold;
    color: #6A8B41;
  }

  nav{
    background-color: #EBE7DB;
  }

  .card{
    margin: 10px 0;
  }

  .coupon{
    padding-left: 10px;
  }

  .purchased{
    background-color: #97CB05;
    color: #fff;
  }

}
