.welcome-user{

  .jumbotron-extend{
    background-image: url('public/images/welcome-user1.jpg');
    background-size: cover;
    height: 100vh;
    margin-bottom: 0;
    padding: 0;

    h1{
      font-size: 70px;
      font-weight: bold;
      color: #78AF30;
    }

    .title{
      font-size: 40px;
      margin-bottom: 0;
    }


    .message{
      font-size: 30px;
    }

    p{
      color: #6D6D6C;
    }

  }
  .how-to-use{
    background-color: #F4FAEC;

    .title{
      text-align: center;
    }

    h1{
      color: #6D6D6C;
      font-size: 40px;
    }

    h2{
      margin-top: 20px;
      color: #78AF30;
    }

    .display-3{
      float: left;
      color: #BBCDC5;
    }

    .display-4{
      color: #BBCDC5;
    }

    a{
      text-decoration: none;
      .card{
        color: #fff;
        margin-top: 30px;
        text-align: center;
        font-size: 25px;
        background-color: #84644D;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: all .3s;
        transition: all .3s;
      }
          .card:hover{
            -webkit-transform: translateY(-5px);
            -ms-transform: translateY(-5px);
            transform: translateY(-5px);
      }
    }
  }





}